// Background
$navBar: rgb(246, 250, 240);
$body: rgb(249, 249, 249);
$cards: rgb(255, 255, 255);

$green: rgb(139, 170, 65);
$brown: rgb(89, 67, 18);
$greyBlue: rgb(107, 132, 175);

// Fonts Color

$cardTitle: rgb(0, 0, 0);
$cardText: rgb(89, 67, 18);
$cardBtn: rgb(255, 255, 255);
